<!-- admin/sections/index - BACKSIDE HOME PAGE -->
<div>
	<h3>Make something new</h3>
	
	<%= link_to "New panel >>", new_admin_panel_path, :class => "jqButton" %>
	<br/>
	<br/>
	<%= link_to "New page >>", new_admin_page_path, :class => "jqButton" %>
	<br/>
	<br/>
	<%= link_to "New section >>", new_admin_section_path, :class => "jqButton" %>

	<br/>
	<br/>
	
	<h3>Manage what you have</h3>
	
	<%= link_to "Manage panels >>", admin_panels_path, :class => "jqButton" %>
	<br/>
	<br/>
	<%= link_to "Manage pages >>", admin_pages_path, :class => "jqButton" %>
	<br/>
	<br/>
	<%= link_to "Manage sections >>", admin_sections_path, :class => "jqButton" %>
	<br/>
	<br/>

	<h3>User accounts</h3>
	
	<a href="#" id="users_index_trigger" class="jqButton">All users >></a>
	<%= render :partial => 'users/index', :locals => { :users => User.all } %>

	<br/>
	<br/>

	<%= link_to 'Sign up a new user >>', '/signup', :class=>"jqButton" %>
</div>
<br/>
<br/>
<div>
	<h3>Help</h3>
	<a href="#" id="help_trigger" class="jqButton">Show >></a>
	<br/>
	<div id="help_area" style="display:none">
		<p style="font-family: Times, sans-serif; font-size: 18px">
			A <b>section</b> is any of the main links you can click on the horizontal bar at the top (excluding "General Controls").<br/>
			- It has a name and the option to have a sidebar.<br/>
			A section has many <b>pages</b>.<br/>
			- A page merely has a name, and its name appears in the sidebar of a section if 
			the section has the option to have a sidebar selected.<br/>
			A page has many <b>panels</b>, and each panel has a title, optional image, and content.<br/>
			- Panels are displayed one after another for a given page.
		</p>
		
		<%= image_tag "diagram1.png", :height=>"80%", :width=>"90%" %>
	</div>
</div>