<!--partial called by panels index - NOT USED-->
<% @panels.each do |panel| %>
	<% div_for panel do %>
		<h3><a href="#" class="accordion_header"><%=h panel.title %></a></h3>
		<div>
			(Page: <%=h Page.find(panel.page_id).name %>)
			<%= render :partial => 'panels/show', :locals => { :panel => panel } %><!-- not admin partial! ->
			<%= link_to 'Edit', edit_admin_panel_path(panel), :class=>"jqButton" %>
			<%= link_to 'Delete', admin_panel_path(panel), :class=>"jqButton", :method=>:delete, :confirm=>"Are you sure you want to delete the panel '#{panel.title}'?" %>
		</div>
	<% end %>
<% end %>