<!--This is used by the BACKSIDE-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 <title>BEESL</title>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <!--[if IE]><%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection' %><![endif]-->
	<%= stylesheet_link_tag 'application','mystyles',"css/sunny/jquery-ui-1.8.4.custom.css" %>
	<%= javascript_include_tag "jquery-1.4.2.min.js","jquery-ui-1.8.4.custom.min.js","ckeditor/ckeditor.js" %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %> <!-- prevents cross-site request forgery -->
</head>
<body style="background:black">
	<div class="container" style="border:2px solid #ccc;">
		<div id='container_hd' class='span-24 last'>
			<div id='hd'>
				<div id='hd_left' class='span-16'>
					<div>
						<span id='hd_title-1'><%= link_to "BEESL", "/" %></span>
						<span id='hd_title-2'>Building Energy and<br/>
						Environmental Systems Lab at Syracuse University</span>
					</div>
				</div>
				<div id='hd_right' class='span-8 last'>
					<div id='top_buttons'>
						<%= link_to "Sections", admin_sections_path, :class => "jqButton" %>
						<%= link_to "Pages", admin_pages_path, :class => "jqButton" %>
						<%= link_to "Panels", admin_panels_path, :class => "jqButton" %>
					</div>
					<div id='login_area'>
						<% if current_user %>
							Logged in as <b><%= link_to current_user.login, edit_user_path(current_user) %></b> | 
							<%= link_to 'The Back', '/admin', :style=>"text-decoration:underline" %> | 
							<%= link_to 'The Front', '/' %> | 
							<%= link_to 'Logout', '/logout' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		
		<div id='container_bd' class='span-24 last'>
			<div id='main'>
				<div class='hor_divider'></div>
				<div id='navbar' class='span-16'>
					<ul class='navbarlist'>
						<li><%= link_to "General Controls", '/admin', :style=>'font-style: italic' %></li>
						<% for section in Section.all(:order => "position") %>
							<li><%= link_to section.name, admin_section_path(section) %></li>
						<% end %>
					</ul>
				</div>
			
				<div id='breadcrumbs' class='span-6 last'><!--not quite working the way you'd like-->
					<b><%= breadcrumb_content(params[:action],params[:controller]) %></b>
				</div>
			
				<div class='hor_divider'></div>
			
			  <div id="flashes" class="left" style="width:910px">
				<% names = [:notice, :error, :warning, :message, :success] %>
				<% for name in names %>
				  <% if flash[name] %>
				    <div id=<%= "#{name}" %> class=<%= "#{name}" %>><%= "#{flash[name]}" %></div>
				  <% end %>
				<% end %>
			  </div>
				
				<div id='main_content'>
					<%= yield :layout %> <!--yields the main content-->
				</div>
				
		  </div>
		</div>
		
		<div id='container_ft' class='span-24 last'>
			<div id='ft'>
		    <ul>
					<li>&copy; BEESL</li>
					<li>Contact: jszhang@syr.edu</li>
					<li><%= link_to 'Logout', '/logout' %></li>
		    </ul>
		  </div>
		</div>
  </div>
</body>
</html>